@font-face{font-family:Droid Sans Mono;font-style:normal;font-weight:400;src:url(./../fonts/droidsansmono.ttf)}
body{background:#212125;border:none;font-family:Droid Sans Mono}
#app{height:100%}
#app .home{background:#212125;height:100%;text-align:center}
#app .home .title{color:#fff;font-size:3rem;font-weight:900;height:6rem;line-height:6rem;margin:0;text-transform:uppercase}
#app .home ul.categories{height:calc(100% - 6rem);margin:0;overflow:auto;position:absolute;text-align:center}
#app .home ul.categories li.category{color:#fff;display:inline-block;font-size:3rem;list-style:none;margin-bottom:.5rem;width:100%}
#app .home ul.categories li.category:last-child{margin:0}
#app .home ul.categories li.category.blue{background:#6aacc5}
#app .home ul.categories li.category.green{background:#6bb8b1}
#app .home ul.categories li.category.red{background:#dc694f}
#app .home ul.categories li.category.yellow{background:#dbb62b}
#app .play{background:#212125;color:#fff;height:100%}
#app .play .top{background:#000;font-size:1.5em;height:3rem;line-height:3rem;text-align:center}
#app .play .top .time{float:left;width:20%}
#app .play .top .time .fa{margin-right:.25em}
#app .play .top .category{float:left;width:65%}
#app .play .top .pause{float:left;width:15%}
#app .play .pause-screen{text-align:center;font-family:Droid Sans Mono;font-size:4rem;text-transform:uppercase;top:3rem}
#app .play .pause-screen .action .button{background:#dc694f;color:#fff;font-size:1.6rem;height:100%;line-height:4rem;margin:0 0 .5rem;padding:0;text-transform:uppercase;width:100%}
#app .play .word{top:1rem}
#app .play .word ul{margin:0;text-align:center}
#app .play .word ul li.item{display:inline-block;font-family:Droid Sans Mono;font-size:4rem;list-style:none;margin:.5rem}
#app .play .keyboard{bottom:5rem;position:absolute}
#app .play .keyboard.disabled .button{opacity:.4}
#app .play .keyboard .button{background:#595758;color:#fff;font-family:Droid Sans Mono;font-size:.85rem;padding:.8rem 1.5rem;text-transform:uppercase;margin:.3rem}
#app .play .keyboard .button.correct{background:#6bb8b1}
#app .play .keyboard .button.wrong{background:#dc694f}
#app .play footer{background:#595758;bottom:0;left:0;height:4rem;margin:0;position:absolute;width:100%}
#app .play footer .status{float:left;height:100%;text-align:center;width:100%}
#app .play footer .status .rating{height:4rem;margin:0}
#app .play footer .status .rating li{display:inline-block;list-style:none;margin:1rem}
#app .play footer .status .rating li .fa{font-size:2.5em;color:#dc694f}
#app .play footer .status .rating li .fa.fa-heart-o{color:#cc4d32}
#app .play .message{top:25%;left:0;position:absolute;right:0;text-align:center}
#app .play .message h1{color:#dbb62b;font-size:3.5rem;font-weight:900}
#app .play .message .action{margin-top:2rem}
#app .play .message .action .button{width:calc(100% - 1rem)}
#app .play .message .action .button.more{background:#6bb8b1;color:#fff;font-size:1.6rem;height:100%;line-height:4rem;margin:0 0 .5rem;padding:0;text-transform:uppercase;width:100%}
#app .play .message .action .button.continue{background:#6aacc5;color:#fff;font-size:1.6rem;height:100%;line-height:4rem;margin:0 0 .5rem;padding:0;text-transform:uppercase;width:100%}
#app .play .message .action .button.surrender{background:#dc694f;color:#fff;font-size:1.6rem;height:100%;line-height:4rem;margin:0 0 .5rem;padding:0;text-transform:uppercase;width:100%}